@model OneMillionPixels.Models.UploadImageStepOne
@{
    ViewBag.Title = "Set pixels";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm("StepTwo", "SetPixels", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary();
    
    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new { type = "file", name = "files" })
    @Html.ValidationMessageFor(x => x.Image)

    

   @* @Html.LabelFor(x => x.XCoordinates)
    @Html.TextBoxFor(x => x.XCoordinates, new { id = "xCoordinate"})
    @Html.ValidationMessageFor(x => x.XCoordinates)

    @Html.LabelFor(x => x.YCoordinates)
    @Html.TextBoxFor(x => x.YCoordinates, new { id = "yCoordinate" })
    @Html.ValidationMessageFor(x => x.YCoordinates)
    
    @Html.LabelFor(x => x.Link) 
    @Html.TextBoxFor(x => x.Link)
    @Html.ValidationMessageFor(x => x.Link)
    *@<input type="submit" value="Next" name="upload" id="uploadImage" />
}

@*@{
    foreach (var image in Model.Images)
	{   
        string src = "data:image/png;base64," + Convert.ToBase64String(image.BinaryContent);
        
		<img src="@src" style="display: none" X="@image.X" Y="@image.Y"/>
	}
}
<canvas id="myCanvas" width="1000" height="1000" style="border: 1px solid #000000;"></canvas>

<script type="text/javascript">
    function drawImages() {
        var images = $("img");
        var ctx = $("#myCanvas")[0].getContext('2d');
        images.each(function () {
            var currentImage = $(this)[0];
            var img = new Image();
            img.onload = function () {

                ctx.drawImage(img, currentImage.getAttribute("X"), currentImage.getAttribute("Y"));
            }
            img.src = currentImage.getAttribute("src");
        });
        images.each(function () {
            $(this).remove();
        });
    }

    $(function () {
        drawImages();

        var canvas = $("#myCanvas");
        canvas.click(function (e) {
            e.preventDefault();
            var pos = canvas.position();
            var x = (e.pageX - pos.left)/5 | 0;
            var y = (e.pageY - pos.top) / 5 | 0;

            $("#yCoordinate").val(y);
            $("#xCoordinate").val(x);
        });
    })
</script>*@
