@model OneMillionPixels.Models.Upload.UploadImageStepOne
@{
    ViewBag.Title = "Set pixels";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm("StepTwo", "SetPixels", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary();
    
    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new { type = "file", name = "files" })
    @Html.ValidationMessageFor(x => x.Image)

    <input type="submit" value="Next" name="upload" id="uploadImage" />
}

